.main {
  flex: 1 1 auto;
}
.main .section-coaching {
  background-image: url("../img/loreamIpsumBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main .section-coaching .container-coaching {
  padding-top: 205px;
  padding-bottom: 247px;
}
@media (max-width: 1200px) {
  .main .section-coaching .container-coaching {
    padding-top: 175px;
    padding-bottom: 100px;
  }
}
@media (max-width: 650px) {
  .main .section-coaching .container-coaching {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 50px;
  }
}
@media (max-width: 450px) {
  .main .section-coaching .container-coaching {
    padding-top: 110px;
    padding-bottom: 40px;
  }
}
.main .section-coaching__title {
  font-family: "Lato-Bold";
  max-width: 780px;
  font-size: 48px;
  line-height: 51px;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 650px) {
  .main .section-coaching__title {
    text-align: center;
    font-size: 33px;
    line-height: 36px;
  }
}
@media (max-width: 450px) {
  .main .section-coaching__title {
    font-size: 21px;
    line-height: 24px;
  }
}
.main .section-coaching__title .highlighted-text-blue {
  color: #3E9CDC;
  font-family: "Lato-Bold";
}
.main .section-coaching .coaching-suggestions {
  margin-top: 92px;
}
@media (max-width: 650px) {
  .main .section-coaching .coaching-suggestions {
    margin-top: 52px;
  }
}
@media (max-width: 450px) {
  .main .section-coaching .coaching-suggestions {
    margin-top: 32px;
  }
}
.main .section-coaching .coaching-suggestions__title {
  font-family: "Lato-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
}
@media (max-width: 650px) {
  .main .section-coaching .coaching-suggestions__title {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
  }
}
.main .section-coaching .coaching-suggestions .coaching-suggestions-list {
  margin-top: 13px;
}
.main .section-coaching .coaching-suggestions .coaching-suggestions-list__item {
  display: flex;
  font-family: "Lato-Light";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
@media (max-width: 650px) {
  .main .section-coaching .coaching-suggestions .coaching-suggestions-list__item {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 450px) {
  .main .section-coaching .coaching-suggestions .coaching-suggestions-list__item {
    font-size: 15px;
    line-height: 18px;
  }
}
.main .section-coaching .coaching-suggestions .coaching-suggestions-list__item::before {
  content: "-";
  display: inline-block;
  padding-left: 11px;
  padding-right: 11px;
  width: 4.94px;
  height: 1.51px;
}
.main .section-coaching .coaching-suggestions .coaching-suggestions-list__item:not(:last-child) {
  margin-bottom: 8px;
}
.main .section-coaching .user-interaction-buttons {
  display: flex;
  margin-top: 80px;
}
@media (max-width: 650px) {
  .main .section-coaching .user-interaction-buttons {
    margin-top: 40px;
  }
}
@media (max-width: 450px) {
  .main .section-coaching .user-interaction-buttons {
    flex-direction: column;
    margin-top: 30px;
  }
}
.main .section-coaching .user-interaction-buttons .user-interaction-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 183px;
  height: 43px;
  font-family: "Lato-Medium";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}
@media (max-width: 650px) {
  .main .section-coaching .user-interaction-buttons .user-interaction-button {
    width: 163px;
    height: 37px;
  }
}
@media (max-width: 450px) {
  .main .section-coaching .user-interaction-buttons .user-interaction-button {
    width: 155px;
    height: 30px;
    font-size: 12px;
  }
}
.main .section-coaching .user-interaction-buttons .user-interaction-button.order {
  margin-right: 30px;
  background-color: #3E9CDC;
  border: 1px solid #fff;
  color: #fff;
}
@media (max-width: 450px) {
  .main .section-coaching .user-interaction-buttons .user-interaction-button.order {
    margin-right: 0;
  }
}
.main .section-coaching .user-interaction-buttons .user-interaction-button.order:hover {
  background-color: #2588cc;
}
.main .section-coaching .user-interaction-buttons .user-interaction-button.more {
  background-color: #fff;
  border: 1px solid #6F6D7B;
  color: #2A2B30;
}
@media (max-width: 450px) {
  .main .section-coaching .user-interaction-buttons .user-interaction-button.more {
    margin-top: 10px;
  }
}
.main .section-coaching .user-interaction-buttons .user-interaction-button.more:hover {
  box-shadow: 0 0 5px;
}
.main .section-checkout {
  background-image: url("../img/maps-BG.png"), linear-gradient(to right, #282834, #282834);
  background-repeat: no-repeat;
  background-position: center;
}
.main .section-checkout .container-checkout {
  padding-top: 88px;
  padding-bottom: 150px;
}
@media (max-width: 730px) {
  .main .section-checkout .container-checkout {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.main .section-checkout__title {
  text-align: center;
  font-weight: 800;
  font-family: "Lato-Bold";
  font-size: 36px;
  line-height: 43px;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .main .section-checkout__title {
    font-size: 28px;
    line-height: 31px;
  }
}
@media (max-width: 400px) {
  .main .section-checkout__title {
    font-size: 24px;
    line-height: 27px;
  }
}
.main .section-checkout__title .highlighted-text-blue {
  color: #3E9CDC;
  font-family: "Lato-Bold";
}
.main .section-checkout__sub-title {
  text-align: center;
  margin-top: 32px;
  font-family: "Lato-Medium";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #BBBBBB;
}
@media (max-width: 600px) {
  .main .section-checkout__sub-title {
    margin-top: 15px;
    font-size: 15px;
    line-height: 18px;
  }
}
.main .section-checkout .scheme-work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54.5px;
  margin-left: -13.5px;
  margin-right: -13.5px;
}
@media (max-width: 400px) {
  .main .section-checkout .scheme-work-list {
    margin-top: 30px;
  }
}
.main .section-checkout .scheme-work-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(20% - 51px);
  margin: 25.5px;
}
@media (max-width: 1000px) {
  .main .section-checkout .scheme-work-list__item {
    width: calc(33.3% - 31px);
    margin: 15.5px;
  }
}
@media (max-width: 600px) {
  .main .section-checkout .scheme-work-list__item {
    width: calc(50% - 31px);
  }
}
@media (max-width: 400px) {
  .main .section-checkout .scheme-work-list__item {
    width: calc(100% - 20px);
    margin: 10px;
  }
}
.main .section-checkout .scheme-work-list__item .wrapper-circle {
  position: relative;
}
.main .section-checkout .scheme-work-list__item .wrapper-circle .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #3E9CDC;
  border: 5px solid #286690;
}
@media (max-width: 1000px) {
  .main .section-checkout .scheme-work-list__item .wrapper-circle .circle {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 1000px) {
  .main .section-checkout .scheme-work-list__item .wrapper-circle .circle .icon-scheme {
    width: 40%;
  }
}
.main .section-checkout .scheme-work-list__item .wrapper-circle .circle.circle-animate {
  animation: circle 4s infinite;
}
@keyframes circle {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.main .section-checkout .scheme-work-list__item .wrapper-circle .ellipsis {
  display: flex;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  top: calc(50% - 3px);
}
@media (max-width: 1000px) {
  .main .section-checkout .scheme-work-list__item .wrapper-circle .ellipsis {
    display: none;
  }
}
.main .section-checkout .scheme-work-list__item .wrapper-circle .ellipsis__item {
  width: 6px;
  height: 6px;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin-right: 20px;
}
.main .section-checkout .scheme-work-list__item .wrapper-circle .ellipsis__item:first-child {
  margin-left: 12px;
}
.main .section-checkout .scheme-work-list__item .description-work-scheme {
  font-family: "Lato-Medium";
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}
.main .form-checkout {
  margin-top: 100px;
}
@media (max-width: 730px) {
  .main .form-checkout {
    margin-top: 55px;
  }
}
.main .form-checkout .form-checkout-top {
  display: flex;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 730px) {
  .main .form-checkout .form-checkout-top {
    flex-direction: column;
    align-items: center;
  }
}
.main .form-checkout .form-checkout-top__item {
  margin: 15px;
  padding-right: 28px;
  width: calc(33.3% - 15px);
  height: 48px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #fff;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 730px) {
  .main .form-checkout .form-checkout-top__item {
    width: calc(100% - 15px);
  }
}
@media (max-width: 600px) {
  .main .form-checkout .form-checkout-top__item {
    margin: 7.5px;
    height: 37px;
  }
}
.main .form-checkout .form-checkout-top__item:not(:first-child)::placeholder {
  font-family: "Lato-Medium";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #272733;
}
@media (max-width: 600px) {
  .main .form-checkout .form-checkout-top__item:not(:first-child)::placeholder {
    font-size: 15px;
    line-height: 18px;
  }
}
.main .form-checkout .form-checkout-top input[type=email].email,
.main .form-checkout .form-checkout-top input[type=text].name {
  padding-left: 10px;
  font-family: "Lato-Medium";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #272733;
}
@media (max-width: 600px) {
  .main .form-checkout .form-checkout-top input[type=email].email,
.main .form-checkout .form-checkout-top input[type=text].name {
    font-size: 15px;
    line-height: 18px;
  }
}
.main .form-checkout .form-checkout-top input[type=email].email.error,
.main .form-checkout .form-checkout-top input[type=text].name.error {
  border: solid red 1px;
}
.main .form-checkout .form-checkout-top input[type=email].email.error::placeholder,
.main .form-checkout .form-checkout-top input[type=text].name.error::placeholder {
  color: red;
}
.main .form-checkout .form-checkout-top .select-type-system {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-family: "Lato-Medium";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #272733;
  cursor: pointer;
  transition: 0.2s;
  overflow: inherit;
}
@media (max-width: 600px) {
  .main .form-checkout .form-checkout-top .select-type-system {
    font-size: 15px;
    line-height: 18px;
  }
}
.main .form-checkout .form-checkout-top .select-type-system__type {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .form-checkout .form-checkout-top .select-type-system .select-type-system-list {
  max-height: 179px;
  margin-left: -1px;
  margin-right: -1px;
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color: #272733;
  border: 1px solid #3D4050;
  border-radius: 0 0 3px 3px;
  scrollbar-width: thin;
  transition: 0.2s;
  opacity: 0;
}
.main .form-checkout .form-checkout-top .select-type-system .select-type-system-list::-webkit-scrollbar-thumb {
  background-color: #3E9CDC;
  border-radius: 3px;
}
.main .form-checkout .form-checkout-top .select-type-system .select-type-system-list::-webkit-scrollbar {
  width: 7px;
  height: 53px;
}
.main .form-checkout .form-checkout-top .select-type-system .select-type-system-list::-webkit-scrollbar-track {
  background-color: #3D4050;
  border-radius: 3px;
}
.main .form-checkout .form-checkout-top .select-type-system .select-type-system-list__option {
  display: flex;
  align-items: center;
  font-family: "Lato-Medium";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #272733;
  color: #fff;
  padding-left: 10px;
  height: 35px;
  transition: 0.2s;
  cursor: pointer;
}
@media (max-width: 600px) {
  .main .form-checkout .form-checkout-top .select-type-system .select-type-system-list__option {
    font-size: 15px;
    line-height: 18px;
  }
}
.main .form-checkout .form-checkout-top .select-type-system .select-type-system-list__option:hover {
  color: #42A9ED;
  background-color: #323241;
}
.main .form-checkout .form-checkout-top .select-type-system::after {
  content: "";
  position: absolute;
  right: 16px;
  top: calc(50% - 5px);
  display: inline-block;
  height: 5px;
  width: 5px;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  transform: rotate(135deg);
  transition: 0.2s;
}
.main .form-checkout .form-checkout-top .select-type-system.active {
  color: #fff;
  background: rgba(61, 64, 80, 0.85);
  border-radius: 3px 3px 0px 0px;
  border: 1px solid rgba(61, 64, 80, 0.85);
  transition: 0.2s;
}
.main .form-checkout .form-checkout-top .select-type-system.active .select-type-system-list {
  opacity: 1;
}
.main .form-checkout .form-checkout-top .select-type-system.active::after {
  content: "";
  transform: rotate(-45deg);
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
}
.main .form-checkout .form-checkout-bottom {
  display: flex;
  margin-top: 15px;
}
@media (max-width: 730px) {
  .main .form-checkout .form-checkout-bottom {
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
  }
}
.main .form-checkout .form-checkout-bottom .form-checkout-range {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
  width: calc(66% + 30px);
  max-width: 100%;
}
@media (max-width: 730px) {
  .main .form-checkout .form-checkout-bottom .form-checkout-range {
    margin-right: 0;
    width: 100%;
  }
}
.main .form-checkout .form-checkout-bottom .form-checkout-range .form-checkout-range-top {
  display: flex;
  justify-content: space-between;
}
.main .form-checkout .form-checkout-bottom .form-checkout-range .form-checkout-range-top__description, .main .form-checkout .form-checkout-bottom .form-checkout-range .form-checkout-range-top__progress {
  font-family: "Lato-Medium";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
@media (max-width: 600px) {
  .main .form-checkout .form-checkout-bottom .form-checkout-range .form-checkout-range-top__description, .main .form-checkout .form-checkout-bottom .form-checkout-range .form-checkout-range-top__progress {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 370px) {
  .main .form-checkout .form-checkout-bottom .form-checkout-range .form-checkout-range-top__description, .main .form-checkout .form-checkout-bottom .form-checkout-range .form-checkout-range-top__progress {
    font-size: 12px;
    line-height: 15px;
  }
}
.main .form-checkout .form-checkout-bottom .form-checkout-range__range {
  width: 100%;
  margin-top: 11px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.7);
}
.main .form-checkout .form-checkout-bottom .form-checkout-range__range::-webkit-slider-runnable-track {
  height: 5px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-radius: 6px;
}
.main .form-checkout .form-checkout-bottom .form-checkout-range__range::-webkit-slider-thumb {
  margin-top: -10px;
  width: 23.72px;
  height: 23.72px;
  background-color: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
}
.main .form-checkout .form-checkout-bottom .form-checkout-range__range::-moz-range-track {
  height: 5px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-radius: 6px;
}
.main .form-checkout .form-checkout-bottom .form-checkout-range__range::-moz-range-thumb {
  margin-top: -10px;
  width: 23.72px;
  height: 23.72px;
  background-color: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
}
.main .form-checkout .form-checkout-bottom .wrapper-attach-file {
  position: relative;
  width: 33%;
  height: 48px;
}
@media (max-width: 730px) {
  .main .form-checkout .form-checkout-bottom .wrapper-attach-file {
    margin-top: 30px;
    width: 370px;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .main .form-checkout .form-checkout-bottom .wrapper-attach-file {
    height: 37px;
    width: 300px;
  }
}
.main .form-checkout .form-checkout-bottom .wrapper-attach-file__file {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
}
.main .form-checkout .form-checkout-bottom .wrapper-attach-file__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #272733;
  font-family: "Lato-Medium";
}
@media (max-width: 600px) {
  .main .form-checkout .form-checkout-bottom .wrapper-attach-file__text {
    font-size: 12px;
    line-height: 15px;
  }
}
.main .form-checkout .form-checkout-bottom .wrapper-attach-file__icon {
  margin-right: 10px;
}
.main .form-checkout .submit-data-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 46px auto 0;
  width: 370px;
  max-width: 100%;
  height: 48px;
  padding: 0 10px;
  font-family: "Lato-Medium";
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: #3E9CDC;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
@media (max-width: 730px) {
  .main .form-checkout .submit-data-checkout {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .main .form-checkout .submit-data-checkout {
    margin-top: 15px;
    font-size: 12px;
    line-height: 15px;
    height: 37px;
    width: 300px;
  }
}
.main .form-checkout .submit-data-checkout:hover {
  background-color: #2588cc;
}